<input type="checkbox" <% if (completed) { %>checked<% } %>>
<form>
    <input type="text" value="<%= title %>" class="form-control col-md-2">
</form>
<span class="todo-text">
    <%= title %>
</span>

